body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 500px;
}

#title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}

#board {
  width: 1050px;
  height: 0px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

#label {
  width: 1050px;
  height: 15px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}

#message{
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

#playerImage{
  filter: brightness(0%);
  width: 100%;
  align-items: center;
  justify-content: center;
}

#results{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#container{
  position: relative;
}

#playAgain{
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 32px;
  cursor: pointer;
  font-weight: bold;
}

.label-tile {
  /* Box */
  border: transparent;
  border-bottom: 1px solid black;
  width: 100px;
  height: 15px;
  margin-left: 1px;
  margin-right: 1px;

  /* Text */
  color: black;
  font-size: 12px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-tile-first {
  /* Box */
  border: transparent;
  border-bottom: 1px solid black;
  width: 265px;
  height: 15px;
  margin-left: 1px;
  margin-right: 1px;

  /* Text */
  color: black;
  font-size: 12px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  /* Box */
  border: 1px solid lightgray;
  width: 100px;
  height: 100px;

  /* Text */
  color: black;
  font-size: 20px;
  font-weight: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-tile {
  /* Box */
  border: 1px solid lightgray;
  width: 250px;
  height: 100px;

  /* Text */
  color: black;
  font-size: 20px;
  font-weight: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.present {
  background-color: #c9b458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787c7e;
  color: white;
  border-color: white;
}

.incorrect {
  background-color: #920000;
  color: white;
  border-color: white;
}

.guess{
  width: 500px;
  height: 70px;
  font-size: 36px;
  text-align: left;
}

.locked{
  cursor: default;
  font-size: 26px;
  text-align: center;
  color:rgba(0, 0, 0, 0.7);
  background-color:rgba(0, 0, 0, 0.05);
}

.hidden{
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.btn{
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.option{
  width: 500px;
  height: 70px;
  font-size: 24px;
  text-align: left;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.selected{
  background-color: rgb(200,200,200);
}

div{
  text-align: center;
}

li{
  list-style-type: none;
}
